@model List<Slider>

<div class="container">
    <div class="row">
           <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between my-5" >
                               <a type="button" class="btn btn-primary "  asp-controller="dashboard" asp-action="index"  asp-area="admin" >Go Back</a>
                               <a type="button" class="btn btn-success " asp-area="admin" asp-controller="sliders" asp-action="create" >Create</a>

                    </div>
                  <h1 class="card-title">Categories</h1>
                 
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                           <th>Image</th>
                           <th>Title</th>
                           <th>Body</th>
                           <th>Settings</th>
                        </tr>
                      </thead>
                      <tbody>
                     @foreach(Slider slider in Model)
                      {
                       <tr>
                           <td class="py-1">
                          <img src="~/assets/uploads/products/@slider.ImageUrl" class="img-fluid" alt="">
                          </td>
                             <td> @slider.Title</td>
                               <td> @slider.Body</td>
                         
                          <td>
                                    <a asp-area="admin" asp-controller="sliders" asp-action="details" asp-route-id="@slider.Id" type="button" class="btn btn-primary">Details</a>
                                     <a asp-area="admin" asp-controller="sliders" asp-action="update" asp-route-id="@slider.Id"  class="btn btn-warning">Update</a>
                                   <a  asp-area="admin" asp-controller="sliders" asp-action="delete" asp-route-id="@slider.Id"   type="button" class="btn btn-danger">Delete</a>

                          </td>
                        
                        </tr>
                                }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>

